extends ../layout.pug
block content
    if !tokenSent
        script !{sendAuthorization}
        script sendAuthorization(window.location, true)
    else if !isValid
        script window.location.href="/login/"
    script !{submitData}
    form(action="./", method="post" id="remove_role_form" onsubmit="return submitData(event,'post',false, true)") 
        container(class="container")
            select(name="roleName" required)
                for role in roles
                    option(value=role)=role
            button(type="submit") Remove role
