extends ./layout.pug
block content
    if !tokenSent
        script !{sendAuthorization}
        script sendAuthorization(window.location, true)
    else if !isValid
        script window.location.href="/login/"
block footer 
        a(href="./add_user") Add User
        a(href="./add_role") Add Role
        a(href="./remove_user") Remove User
        a(href="./remove_role") Remove Role

