html 
    head 
        style 
            include ../assests/stylesheet/layout.css
        title Wilmot API
    body 
        div(class="header")
            img(src="/static/images/logo.jpg")
            span Wilmot API 
        article 
            block content 
        footer 
                if path == "/"
                    a(href="./") Back
                else 
                    a(href="../") Back