extends layout.pug
block content
    if !tokenSent
        script !{sendAuthorization}
        script sendAuthorization(window.location, false)
    h3 Services 
    ul
        each service in services
            li
             a(href="./"+service.name)=service.name
    h3 Routes
    ul
        each route in routes
            li 
                a(href="/services"+route)=route
block footer 
    if isValid
        if isEditor
            a(href="./add_item") Add Item
            a(href="./delete_item") Delete Item
            a(href="./replace_item") Replace Item
    else 
        a(href="/login") Login