@font-face {
    font-family: 'Hamlet';
    src: url('/static/fonts/Hamletornot-K7y7.ttf');
}
.header{
    align-items: center;
    display: flex;
    font-family: 'Hamlet', Fallback, sans-serif;
}

.header img{
    margin-right: 1rem;
    width: 15%
}

article{
    padding: 5%;
}

form .container { 
    display:grid

}

form .container *{
    margin-bottom: 1rem;
}

form .container input{
    width: 15%;
}

form .container button{
    width: 10%;
}

footer { 
    padding : 3%
}

footer *{ 
    margin-right : 1rem;
}