@font-face {
    font-family: 'Hamlet';
    src: url('/static/fonts/Hamletornot-K7y7.ttf');
}
.header{
    align-items: center;
    display: flex;
    font-family: 'Hamlet', Fallback, sans-serif;
}

.header img{
    margin-right: 1rem;
    width: 15%
}

article{
    padding: 5%;
}

form[action="login"] .container { 
    display:grid
}

form[action="login"] .container *{
    margin-bottom: 1rem;
}

form[action="login"] .container input{
    width: 15%;
}

form[action="login"] .container button{
    width: 5%;
}