extends ../layout.pug
block content
    if !tokenSent
        script !{sendAuthorization}
        script sendAuthorization(window.location, true)
    else if !isValid
        script window.location.href="/login/"
    script !{submitData}
    form(action="./", method="post" id="add_item_form" onsubmit="return submitData(event,'post',false, true)") 
        container(class="container")
            label(for="name") Service name:
            input(type="text" placeholder="Enter service name" name="name" required)
            label(for="json") JSON:
            textarea(name="data", cols="30", rows="10" required)
            if user_role == "admin"
                select(name="role" id="roleName")
                    for role in roles
                        option(value=role)=role
            else
                select(name="role" id="roleName" disabled)
                        option(value=user_role)=user_role
            button(type="submit") Submit Data