extends ../layout.pug
block content
    if !tokenSent
        script !{sendAuthorization}
        script sendAuthorization(window.location, true)
    else if !isValid
        script window.location.href="/login/"
    script !{submitData}
    form(action="./", method="delete" id="delete_item_form" onsubmit="return submitData(event,'delete',true)") 
        container(class="container")
            label(for="name") Service:
            select(name="name" id="serviceName")
                for service in services
                    option(value=service.name)=service.name
            button(type="submit") Delete Service