extends ../layout.pug
block content
    if !tokenSent
        script !{sendAuthorization}
        script sendAuthorization(window.location, true)
    else if !isValid
        script window.location.href="/login/"
    script !{submitData}
    form(action="./", method="post" id="add_item_form" onsubmit="return submitData(event,'put',true, true, true)") 
        container(class="container")
            label(for="name") Service:
            select(name="name" id="serviceName")
                for service in services
                    option(value=service.name)=service.name
            label(for="data") JSON:
            textarea(name="data", cols="30", rows="10" required)
            button(type="submit") Submit Data